Source: trojita
Section: mail
Priority: optional
Maintainer: Lubuntu Developers <lubuntu-devel@lists.ubuntu.com> 
Uploaders: Walter Lapchynski <wxl@ubuntu.com>
Build-Depends: cmake (>= 2.8.11),
               debhelper (>= 11),
               git,
               libgpgmepp-dev,
               libmimetic-dev,
               libqt5svg5-dev,
               libqt5webkit5-dev,
               pkg-config,
               qt5keychain-dev,
               qtbase5-dev (>= 5.2),
               qttools5-dev,
               ragel,
               zlib1g-dev
Standards-Version: 4.2.1
Homepage: http://trojita.flaska.net/
Vcs-Browser: https://phab.lubuntu.me/source/trojita/
Vcs-Git: https://phab.lubuntu.me/source/trojita.git

Package: trojita
Architecture: any
Depends: ${misc: Depends}, ${shlibs: Depends}
Suggests: trojita-plugin-qtkeychain
Description: Trojita is a fast Qt IMAP e-mail client.
 Trojita is a Qt IMAP e-mail client which:
  * Enables you to access your mail anytime, anywhere.
  * Does not slow you down. If we can improve the productivity of an e-mail user, we better do.
  * Respects open standards and facilitates modern technologies. We value the vendor-neutrality that IMAP provides and are committed to be as interoperable as possible.
  * Is efficient — be it at conserving the network bandwidth, keeping memory use at a reasonable level or not hogging the system's CPU.
  * Can be used on many platforms. One UI is not enough for everyone, but our IMAP core works fine on anything from desktop computers to cell phones and big ERP systems.
  * Plays well with the rest of the ecosystem. We don't like reinventing wheels, but when the existing wheels quite don't fit the tracks, we're not afraid of making them work.

Package: trojita-plugin-qtkeychain
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Plugin for secure password storage for Trojitá
 This plugin offers secure password storage by using QtKeyChain.
